# Libraries and Data

In [1]:
import pandas as pd
from itertools import permutations
from collections import OrderedDict
from itertools import chain
import math

In [2]:
path=input("Enter the path:")
transactions = pd.read_excel(path)

Enter the path: Horizontal_Format.xlsx

# Data Format

In [3]:
transactions.head()

   TiD        items
0    1  M,O,N,K,E,Y
1    2  D,O,N,K,E,Y
2    3      M,A,K,E
3    4    M,U,C,K,Y
4    5  C,O,O,K,I,E

In [4]:
temp2=list()#set of all the transactions
data={}#horizontal table in dic format
table={}#vertical table in dic format
num_rows = transactions.shape[0]
vertical={"itemset", "tid_set"}
headers = set(map(str.lower, transactions.columns))

if headers==vertical:#vertical data
  for i in range(num_rows):
    temp=list(str(transactions.iloc[i, 1]).split(','))
    temp2=list(OrderedDict.fromkeys(temp2+temp))

    table[transactions.iloc[i, 0]]=temp

  for i in temp2:#access all transactions ids
    data[i]=list()
    for j in range(num_rows):#access all the table
      if i in table[transactions.iloc[j, 0]]:
        data[i].append(transactions.iloc[j, 0])

  data = {k: data[k] for k in sorted(data)}
  transactions = pd.DataFrame(list(data.items()), columns=['TiD', 'items'])
  transactions['items'] = transactions['items'].apply(lambda x: ','.join(x))

#  All the frequent item sets

In [5]:
num_rows = transactions.shape[0]
print("Number of rows in the DataFrame:", num_rows)

Number of rows in the DataFrame: 5

In [6]:
transactions.head()

   TiD        items
0    1  M,O,N,K,E,Y
1    2  D,O,N,K,E,Y
2    3      M,A,K,E
3    4    M,U,C,K,Y
4    5  C,O,O,K,I,E

In [7]:
c1={}
mainList=[]
for i in range(num_rows): #access all table's content
  tempList=transactions.iloc[i, 1].split(',')#set of item for each transaction
  tempList2=list(OrderedDict.fromkeys(tempList))
  tempList=set(tempList)
  print(tempList2)
  mainList.append(tempList)#save all transactions' items in new format

  for item in tempList2:
    if item in c1:
      c1[item]+=1
    else:
      c1[item]=1

['M', 'O', 'N', 'K', 'E', 'Y']
['D', 'O', 'N', 'K', 'E', 'Y']
['M', 'A', 'K', 'E']
['M', 'U', 'C', 'K', 'Y']
['C', 'O', 'K', 'I', 'E']

In [8]:
print(mainList)

[{'K', 'O', 'M', 'Y', 'E', 'N'}, {'K', 'O', 'Y', 'E', 'D', 'N'}, {'K', 'M', 'A', 'E'}, {'K', 'M', 'C', 'Y', 'U'}, {'K', 'O', 'C', 'E', 'I'}]

In [9]:
print(c1)

{'M': 3, 'O': 3, 'N': 2, 'K': 5, 'E': 4, 'Y': 3, 'D': 1, 'A': 1, 'U': 1, 'C': 2, 'I': 1}

In [10]:
def error():
  print("please, enter a correct number.")

In [11]:
while(True):
 check=input("Enter 1 for percntage 0 for count:")
 if check=='1':
  minSup=float(input("Enter min support percentage:"))
  if 0<=minSup<=100:
    sup=math.ceil((minSup/100)*num_rows)
    break
  else :
    error()
 elif check=='0':
  minSup=int(input("Enter min support count:"))
  if minSup<=num_rows:
   sup=minSup
   break
  else:
    error()
 else:
  error()

Enter 1 for percntage 0 for count: 1
Enter min support percentage: 60

In [12]:

print(sup)

3

In [13]:
l1={}
for i in c1.keys():
  if c1[i]>=sup:
    l1[i]=c1[i]
print(l1)

{'M': 3, 'O': 3, 'K': 5, 'E': 4, 'Y': 3}

In [14]:
if len(l1)>1:
  c2 = {}
  l1Copy=l1.copy()
  for i in l1.keys():
      del l1Copy[i]
      for j in l1Copy.keys():
          temp = (i,j)
          print(temp)
          count = 0
          for k in mainList:
              if k.issuperset(temp):
                  count += 1
          c2[temp] = count

('M', 'O')
('M', 'K')
('M', 'E')
('M', 'Y')
('O', 'K')
('O', 'E')
('O', 'Y')
('K', 'E')
('K', 'Y')
('E', 'Y')

In [15]:
if len(l1)>1:
 print(c2)

{('M', 'O'): 1, ('M', 'K'): 3, ('M', 'E'): 2, ('M', 'Y'): 2, ('O', 'K'): 3, ('O', 'E'): 3, ('O', 'Y'): 2, ('K', 'E'): 4, ('K', 'Y'): 3, ('E', 'Y'): 2}

In [16]:
l2={}
if len(l1)>1:
  for i in c2.keys():
    if c2[i]>=sup:
      l2[i]=c2[i]
  print(l2)

{('M', 'K'): 3, ('O', 'K'): 3, ('O', 'E'): 3, ('K', 'E'): 4, ('K', 'Y'): 3}

In [17]:
# c3 = {}
# l2Copy=l2.copy()
# for i in l2.keys():#tuple
#     del l2Copy[i]
#     for j in l2Copy.keys():#tuple
#         if i[0]==j[0]:
#           temp=list(i[0]+i[1]+j[1])
#           print(temp)
#           temp2=set(temp)
#           c3[tuple(temp)]=0
#           for k in mainList:
#             if k.issuperset(temp2):
#               c3[tuple(temp)]+=1

In [18]:
#print(c3)

In [19]:
# l3={}
# for i in c3.keys():
#   if c3[i]>=sup:
#     l3[i]=c3[i]
# print(l3)

In [20]:
Cn=[] #list of dic(n)
Ln=[] #list of dic(n)
count=3 #start from c3
lm=l2
while len(lm)>1:
  cm = {}
  lmCopy=lm.copy()
  for i in lm.keys():#tuple
      del lmCopy[i]
      for j in lmCopy.keys():#tuple
          sum=True
          for k in range(count-2):#Common first letters
            sum*=  i[k]==j[k]
          if sum:# <---------------------------------------------
            temp=[i[z]for z in range(count-1)]
            temp.append(j[count-2])
            temp2=set(temp)
            cm[tuple(temp)]=0
            for y in mainList:
              if y.issuperset(temp2):
                cm[tuple(temp)]+=1


  Cn.append(cm)

  lm={}  #new value for lm
  for i in cm.keys():
    if cm[i]>=sup:
      lm[i]=cm[i]

  Ln.append(lm)
  count+=1

In [21]:
print("C1=",c1)
print("C2=",c2)
for i in range(count-3):
   print("C",i+3,"=",Cn[i],sep='')

C1= {'M': 3, 'O': 3, 'N': 2, 'K': 5, 'E': 4, 'Y': 3, 'D': 1, 'A': 1, 'U': 1, 'C': 2, 'I': 1}
C2= {('M', 'O'): 1, ('M', 'K'): 3, ('M', 'E'): 2, ('M', 'Y'): 2, ('O', 'K'): 3, ('O', 'E'): 3, ('O', 'Y'): 2, ('K', 'E'): 4, ('K', 'Y'): 3, ('E', 'Y'): 2}
C3={('O', 'K', 'E'): 3, ('K', 'E', 'Y'): 2}

In [22]:
print("L1=",l1)
print("L2=",l2)
for i in range(count-3):
   print("L",i+3,"=",Ln[i],sep='')

L1= {'M': 3, 'O': 3, 'K': 5, 'E': 4, 'Y': 3}
L2= {('M', 'K'): 3, ('O', 'K'): 3, ('O', 'E'): 3, ('K', 'E'): 4, ('K', 'Y'): 3}
L3={('O', 'K', 'E'): 3}

# Association Rules

In [23]:
Ln

[{('O', 'K', 'E'): 3}]

In [24]:
all_permutations = []
rules={}
for i in l2:
  temp=list(permutations(i))
  rules[i]=temp
  all_permutations.extend(temp)

print(all_permutations)

[('M', 'K'), ('K', 'M'), ('O', 'K'), ('K', 'O'), ('O', 'E'), ('E', 'O'), ('K', 'E'), ('E', 'K'), ('K', 'Y'), ('Y', 'K')]

In [25]:
for i in range(len(Ln)):
  temp=list(Ln[i])#Ln is a full dic
  for j in temp:
    temp2=list(permutations(j))
    all_permutations.extend(temp2)
    rules[j]=temp2
print(all_permutations)

[('M', 'K'), ('K', 'M'), ('O', 'K'), ('K', 'O'), ('O', 'E'), ('E', 'O'), ('K', 'E'), ('E', 'K'), ('K', 'Y'), ('Y', 'K'), ('O', 'K', 'E'), ('O', 'E', 'K'), ('K', 'O', 'E'), ('K', 'E', 'O'), ('E', 'O', 'K'), ('E', 'K', 'O')]

In [26]:
rules

{('M', 'K'): [('M', 'K'), ('K', 'M')],
 ('O', 'K'): [('O', 'K'), ('K', 'O')],
 ('O', 'E'): [('O', 'E'), ('E', 'O')],
 ('K', 'E'): [('K', 'E'), ('E', 'K')],
 ('K', 'Y'): [('K', 'Y'), ('Y', 'K')],
 ('O', 'K', 'E'): [('O', 'K', 'E'),
  ('O', 'E', 'K'),
  ('K', 'O', 'E'),
  ('K', 'E', 'O'),
  ('E', 'O', 'K'),
  ('E', 'K', 'O')]}

In [27]:
total1=[]
total2=[]
for i in all_permutations:
 for k in range(1,len(i)):#ab-->c a-->bc
  var1=list(i[0:k])
  total1.append(var1)
  var2=list(i[k:])
  total2.append(var2)
  print(var1,"-->",var2)

['M'] --> ['K']
['K'] --> ['M']
['O'] --> ['K']
['K'] --> ['O']
['O'] --> ['E']
['E'] --> ['O']
['K'] --> ['E']
['E'] --> ['K']
['K'] --> ['Y']
['Y'] --> ['K']
['O'] --> ['K', 'E']
['O', 'K'] --> ['E']
['O'] --> ['E', 'K']
['O', 'E'] --> ['K']
['K'] --> ['O', 'E']
['K', 'O'] --> ['E']
['K'] --> ['E', 'O']
['K', 'E'] --> ['O']
['E'] --> ['O', 'K']
['E', 'O'] --> ['K']
['E'] --> ['K', 'O']
['E', 'K'] --> ['O']

# Strong Rules

In [28]:
while(True):

  confidence=float(input("Enter min confidence:"))
  if 0<=confidence<=100:
    confidence/=100
    break
  else :
    error()

Enter min confidence: 80

In [29]:
confidence

0.8

In [30]:
mainList

[{'E', 'K', 'M', 'N', 'O', 'Y'},
 {'D', 'E', 'K', 'N', 'O', 'Y'},
 {'A', 'E', 'K', 'M'},
 {'C', 'K', 'M', 'U', 'Y'},
 {'C', 'E', 'I', 'K', 'O'}]

In [31]:
strong=[]
for i in range(len(total1)):#a-->b  n(b,a)=?
  temp=set(total2[i]+total1[i])
  var1=set(total1[i])
  count=0
  for j in range(len(mainList)):
    if mainList[j].issuperset(temp):
      count+=1
  n1=count

  count=0
  for j in range(len(mainList)):
    if mainList[j].issuperset(var1):
      count+=1
  n2=count

  print(total1[i],"-->",total2[i],"confidence=",n1/n2)
  if(n1/n2>=confidence):
    strong.append([total1[i],total2[i]])

['M'] --> ['K'] confidence= 1.0
['K'] --> ['M'] confidence= 0.6
['O'] --> ['K'] confidence= 1.0
['K'] --> ['O'] confidence= 0.6
['O'] --> ['E'] confidence= 1.0
['E'] --> ['O'] confidence= 0.75
['K'] --> ['E'] confidence= 0.8
['E'] --> ['K'] confidence= 1.0
['K'] --> ['Y'] confidence= 0.6
['Y'] --> ['K'] confidence= 1.0
['O'] --> ['K', 'E'] confidence= 1.0
['O', 'K'] --> ['E'] confidence= 1.0
['O'] --> ['E', 'K'] confidence= 1.0
['O', 'E'] --> ['K'] confidence= 1.0
['K'] --> ['O', 'E'] confidence= 0.6
['K', 'O'] --> ['E'] confidence= 1.0
['K'] --> ['E', 'O'] confidence= 0.6
['K', 'E'] --> ['O'] confidence= 0.75
['E'] --> ['O', 'K'] confidence= 0.75
['E', 'O'] --> ['K'] confidence= 1.0
['E'] --> ['K', 'O'] confidence= 0.75
['E', 'K'] --> ['O'] confidence= 0.75

In [32]:
strong

[[['M'], ['K']],
 [['O'], ['K']],
 [['O'], ['E']],
 [['K'], ['E']],
 [['E'], ['K']],
 [['Y'], ['K']],
 [['O'], ['K', 'E']],
 [['O', 'K'], ['E']],
 [['O'], ['E', 'K']],
 [['O', 'E'], ['K']],
 [['K', 'O'], ['E']],
 [['E', 'O'], ['K']]]

# Lift

In [33]:
index=[]
for i in range(len(total1)):#m-->k   k-->m
  #m=total1[i]
  #k=total2[i]
  for j in range(i+1,len(total1)):
    if (set(total1[i])==set(total2[j]))&(set(total2[i])==set(total1[j])):
      index.append(j)

In [34]:
index

[1, 3, 5, 7, 9, 17, 21, 18, 20, 17, 21, 14, 16, 19, 18, 20, 19]

In [35]:
for i in range(len(total1)):#a-->b  n(b,a)=?
  if i in index:#remove duplicates a-->b == b-->a
    continue
  temp=set(total2[i]+total1[i])
  var1=set(total1[i])
  var2=set(total2[i])
  count=0
  for j in range(len(mainList)):
    if mainList[j].issuperset(temp):
      count+=1
  n1=count

  count=0
  for j in range(len(mainList)):
    if mainList[j].issuperset(var1):
      count+=1
  n2=count

  count=0
  for j in range(len(mainList)):
    if mainList[j].issuperset(var2):
      count+=1
  n3=count

  lift=(num_rows*n1)/(n2*n3)
  print(total1[i],"-->",total2[i],"lift=",lift,"relationship:",end="")
  if(lift>1):
    print("dependent, + correlated")
  elif(lift<1):
    print("dependent, - correlated")
  else:
    print("Independent")

['M'] --> ['K'] lift= 1.0 relationship:Independent
['O'] --> ['K'] lift= 1.0 relationship:Independent
['O'] --> ['E'] lift= 1.25 relationship:dependent, + correlated
['K'] --> ['E'] lift= 1.0 relationship:Independent
['K'] --> ['Y'] lift= 1.0 relationship:Independent
['O'] --> ['K', 'E'] lift= 1.25 relationship:dependent, + correlated
['O', 'K'] --> ['E'] lift= 1.25 relationship:dependent, + correlated
['O'] --> ['E', 'K'] lift= 1.25 relationship:dependent, + correlated
['O', 'E'] --> ['K'] lift= 1.0 relationship:Independent
['K', 'O'] --> ['E'] lift= 1.25 relationship:dependent, + correlated